/javaee-tutorial/examples/web/hello/nbproject/private/
/javaee-tutorial/examples/web/hello/build/
/javaee-tutorial/examples/web/guessnumber/nbproject/private/
/javaee-tutorial/examples/web/guessnumber/build/
/javaee-tutorial/examples/case-studies/dukes-bookstore/nbproject/private/
/javaee-tutorial/examples/case-studies/dukes-bookstore/build/